:root{
  --background-color: #00090E;
  --text-color: #e1e1e1;
  --primary-color: #81fe88;
  --secondary-color: #888888;
  --font-family: "prompt", sans-serif;
  --itens-background: #171d1f;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  gap: 27px;
  padding: 56px 0;
}

aside{
  background-color: var(--itens-background);
  border-radius: 10px;
  height: 100%;
  padding: 40px 16px;
  text-align: center;

}

.lista-links{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
  align-items: center;
  list-stylr-type: none;
}

.lista-links li a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 22px;
}

.lista-links li:first-of-type a{
  color: var(--primary-color);
}

.link-destaque{
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 12px 10px;
}

main{
  background-color: var(--itens-background);
  border-radius: 10px;
  padding: 32px;
  display: flex;
  gap: 24px;
}

h2{
  font-size: 26px;
  margin-bottom: 42px;
  font-weight: 600;
}


